[Unit]
Description=Das Zooblinkfon

[Service]
ExecStart=/usr/local/bin/zooblinkofon
WorkingDirectory=/usr/local/share/zooblinkofon

[Install]
WantedBy=multi-user.target
